body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, lightgreen, lightblue);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40vh;
    margin: 200px;
}
.btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
.btn-back:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-back:active {
    background-color: #004494;
    transform: scale(1)
}
.header {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 50%;
    align-items: center;
    height: 30vh;
    font-size: 50px;
}
.login-container{
    background-color: lightgreen;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    width: 300px;
    text-align: center;
    
}
h2{
    margin-bottom: 20px;
    color: black;

}
.form-group{
    margin-bottom: 15px;
    text-align: left;
    
}
label{
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;

}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    
}
h4{
    color: white;
}
strong{
    margin-top: 10px;
    display: inline-block;
    color: black;
}
button{
    width: 100%;
    padding: 10px;
    border: solid black 1px;
    border-radius: 4px;
    background-color: turquoise;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 200ms cubic-bezier(.08,.52,.52,.1), 
                box-shadow 200ms cubic-bezier(.08,.52,.52,.1);
}
button:hover{
    background-color: beige;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8)
}